@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

.ParentContainer {
    display: flex;
    justify-content: center;
}

.MainContainer {
    width: 850px;
    height: 470px;
    background-color: rgb(55, 101, 40, 0.4);
    position: absolute;
    top: 17%;
    color: white;
    border: 3px solid whitesmoke;
    z-index: 1;
}

.ContentContainer {
    display: flex;
    width: 100%;
    font-family: 'Special Elite';
}

.TextContainer {
    width: 100%;
    padding-right: 15px;
}

#Title {
    text-align: center;
}

#Text {
    text-align: justify;
    margin-bottom: 5px;
}

#Sign {
    text-align: center;
    font-family: 'Alex Brush';
    font-size: 25px;
    margin-top: 1px;
}

.gabrielPic {
    width: 274px;
    height: 415px;
    margin: 15px;
    padding-top: 15px;
}
