section {
    padding-top: 20px;
    position: relative;
}

.NumbersContainer {
    overflow: hidden;
    letter-spacing: -2px;
    line-height: 0.8;
    margin: 0;
    padding-bottom: 9px;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}

.NumbersContainer .numbers {
    font-weight: 425;
    color: rgba(71, 209, 3, 0.804);
    font-size: 24px;
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}

.NumbersContainer span {
    display: block;
    margin-right: 5px;
}