.ParentContainer {
    display: flex;
    justify-content: center;
}

.MainContainer {
    width: 850px;
    height: 450px;
    background-color: rgb(55, 101, 40, 0.4);
    position: absolute;
    top: 17%;
    color: white;
    border: 3px solid whitesmoke;
}

img {
    width: 274px;
    height: 415px;
    margin: 15px;
}