@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.ContactMeParentContainer {
    display: flex;
    justify-content: center;
}

.ContactMeMainContainer {
    width: 850px;
    height: 450px;
    background-color: rgb(55, 101, 40, 0.4);
    position: absolute;
    top: 17%;
    color: white;
    border: 3px solid whitesmoke;
    z-index: 1;
}

.ContactMeTitleContainer {
    text-align: center;
    font-family: 'Special Elite';
}

.ContactMeTitleContainer h2 {
    font-size: 1.6em;
    margin-top: 14.5px;
    margin-bottom: 0px;
}

.ContactMeTitleContainer h2 img {
    padding-left: 8px;
}

.connectInvitation {
    font-family: 'Special Elite';
    margin-top: 8px;
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
}

form {
    margin-top: 25px;
    margin-right: 50px;
    margin-left: 50px;
}

#textFields {
    width: 335px;
    height: 25px;
    font-size: 16px;
    color: white;
    margin-bottom: 15px;
    background-color: rgb(55, 101, 40, 0.7);
    font-family: 'Special Elite';
    border: 2px solid green;
}

.lastNameField {
    margin-left: 60px;
}

textarea {
    font-size: 15px;
    color: white;
    background-color: rgb(55, 101, 40, 0.7);
    font-family: 'Special Elite'; 
    border: 2px solid green;
    margin-bottom: 10px;
}

#submitButton {
    margin-left: 45%;
    font-size: 23px;
    background-color: rgb(2, 105, 2);
    font-family: 'Special Elite';
    color: white;
    border: 3px solid green;
    padding: 2px;
}

::placeholder {
    color: rgb(184, 182, 182);
}