@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.ContactMeParentContainer {
    display: flex;
    justify-content: center;
}

.ContactMeMainContainer {
    width: 850px;
    height: 450px;
    background-color: rgb(55, 101, 40, 0.4);
    position: absolute;
    top: 17%;
    color: white;
    border: 3px solid whitesmoke;
}

.ContactMeTitleContainer {
    text-align: center;
    font-family: 'Special Elite';
}

picture img {
    padding-left: 10px;
}