@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.MySkillsParentContainer {
    display: flex;
    justify-content: center;
}

.MySkillsMainContainer {
    width: 850px;
    height: 450px;
    background-color: rgb(55, 101, 40, 0.4);
    position: absolute;
    top: 17%;
    color: white;
    border: 3px solid whitesmoke;
    z-index: 1;
}

.TitleSkillsContainer {
    text-align: center;
    font-family: 'Special Elite';
}

.SubTitleMySkillsContainer {
    font-family: 'Special Elite';
}