@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.MySkillsParentContainer {
    display: flex;
    justify-content: center;
}

.MySkillsMainContainer {
    width: 850px;
    height: 450px;
    background-color: rgb(55, 101, 40, 0.4);
    position: absolute;
    top: 17%;
    color: white;
    border: 3px solid whitesmoke;
    z-index: 1;
}

.TitleSkillsContainer {
    text-align: center;
    font-family: 'Special Elite';
}

.MySkillsSliderContainer {
    display: flex;
}

.MySkillsContentSliderContainer {
    width: 650px;
    margin-top: 20px;
    margin-left: 50px;
}

.SubTitleMySkillsContainer {
    font-family: 'Special Elite';
}

.leftArrowContainer {
    width: 50px;
    text-align: center;
    margin-left: 3px;
    margin-right: 30px;
    margin-top: 120px;
}

.leftArrow {
    cursor: pointer;
    font-size: 40px;
}

.rightArrowContainer {
    width: 50px; 
    text-align: center; 
    margin-left: 45px; 
    margin-top: 120px;
    margin-right: 3px;
}

.rightArrow {
    cursor: pointer;
    font-size: 40px;
}