@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.NavBarParentContainer{
    display: flex;
    justify-content: center;
}

.NavigationBarCSS {
    position: absolute;
    z-index: 1;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    border-right: 1px solid #bbb;
    text-align: center;
    font-size: 23px;
    color: white;
    padding: 13px 16px;
    text-decoration: none;
    background-color: rgb(55, 101, 40, 0.7);
    font-family: 'Special Elite';
}

li:last-child {
    border-right: none;
}

li:hover {
    cursor: pointer;
}

li.active {
    background-color: rgb(2, 105, 2);
}

li:hover:not(.active) {
    background-color: rgb(2, 105, 2);
}

h1 {
    font-size: 40px;
    color: blueviolet;
    position: absolute;
}

